// Import library functions for theme creation.
@import "~@angular/material/theming";

// Include non-theme styles for core.
@include mat-core();

// Define your application's custom theme.
$my-primary: (
  50: #00aeef,
  100: #00aeef,
  200: #00aeef,
  300: #00aeef,
  400: #00aeef,
  500: #00aeef,
  600: #00aeef,
  700: #00aeef,
  800: #00aeef,
  900: #00aeef,
  A100: #00aeef,
  A200: #00aeef,
  A400: #00aeef,
  A700: #00aeef,
  contrast: (
    50: white,
    100: white,
    200: white,
    300: white,
    400: white,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
    A100: white,
    A200: white,
    A400: white,
    A700: white,
  )
);

$my-accent: (
  50: #1ED760,
  100: #1ED760,
  200: #1ED760,
  300: #1ED760,
  400: #1ED760,
  500: #1ED760,
  600: #1ED760,
  700: #1ED760,
  800: #1ED760,
  900: #1ED760,
  A100: #1ED760,
  A200: #1ED760,
  A400: #1ED760,
  A700: #1ED760,
  contrast: (
    50: white,
    100: white,
    200: white,
    300: white,
    400: white,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
    A100: white,
    A200: white,
    A400: white,
    A700: white,
  )
);

$primary: mat-palette($my-primary);
$accent: mat-palette($my-accent);
$theme: mat-light-theme($primary, $accent);

// Include theme styles for Angular Material components.
@include angular-material-theme($theme);
