// Page Search
.content-search-fields {
  .custom-mat-form-field {
    .mat-form-field-wrapper {
      padding: 0;

      .mat-form-field-infix {
        border: none;
        width: auto;
      }
    }

    .mat-form-field-underline {
      display: none;
    }
  }
}
