@import "variables";

app-bg-animation {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
}

.logo {
  margin-bottom: 40px;
  height: 66px;
  width: 220px;
}
